<hr>
<div class="container">
  <h1><%= @product.asin %></h1>
  <h3><%= @product.name %></h3>
  <ul>
    <li>Category: <%= @product.category.blank? ? "N/A" : @product.category %></li>
    <li>Rank: <%= @product.rank.blank? ? "N/A" : @product.rank %></li>
    <li>Dimensions: <%= @product.dimensions.blank? ? "N/A" : @product.dimensions %></li>
  </ul>

  <div class="navigation">
    <%= link_to("â† Back to all products", products_path, class: "button") %>
    <%= link_to("View on Amazon", "https://www.amazon.com/dp/#{@product.asin}", target: "_blank", class: "button button-amazon") %>
  </div>
</div>
