<h1><%= @product.asin %></h1>
<h3><%= @product.name %></h3>
<p>Category: <%= @product.category.blank? ? "N/A" : @product.category %></p>
<p>Rank: <%= @product.rank.blank? ? "N/A" : @product.rank %></p>
<p>Dimensions: <%= @product.dimensions.blank? ? "N/A" : @product.dimensions %></p>

<%= link_to("View on Amazon", "https://www.amazon.com/dp/#{@product.asin}", target: "_blank") %>
<%= link_to("Back to all products", products_path) %>